body{
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0px;
}
/*---------------------------------------------------------------------------------------------------*/
select{
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  width: 50%;
}
button{
  user-select: none;
  margin-bottom: 5px;
  border-radius: 5px;
  border-style:none;
  padding:10px;
  cursor:pointer;
}
button:disabled,button[disabled]{
  cursor: not-allowed;
  background-color: #EEE;
}
.btn{
  margin-bottom: 5px;
  border-radius: 5px;
  border-style:none;
  padding:10px;
}
.btn:focus{
  transition: 0.3s;
  background-color: #00ca9b!important;
  color: white!important;
}
button:hover{
  background-color: #bbb;
  transition: 0.5s;
}
.active{
  background-color: #00ca9b;
  color:white;
  margin-bottom: 5px;
  border-radius: 5px;
  border-style: none;
  padding:10px;
  transition: 0.3s;
}
/*---------------------------------------------------------------------------------------------------*/
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #777;
  font-size: 16px;
}
h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
h3{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #222;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}
h4{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #777;
  padding: 5px;
  margin: 5px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 14px;
}
.align-left{
  text-align: left;
  padding-left: 0px;
  margin: 0px;
  font-size: 12px;
}
.align-right{
  text-align: right;
  padding-right: 5px;
  margin: 0px;
  font-size: 12px;
}
.align-center{
  text-align:center;
  margin: 5px auto;
  padding: 5px;
}
/*---------------------------------------------------------------------------------------------------*/
div{
  background-color: #fff;
}
.div-container{
  padding-left: 20px;
  padding-right: 20px;
}
.container{
  width: 700px;
  height:inherit;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 15px auto;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.page{
  width: 700px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f0f0f0;
  margin: 5px auto;
}
.header{
  margin: 0px;
  border-bottom: 1px solid #EEE;
  background-color: #ffffff;
  padding:10px;
  padding-bottom: 20px;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.element{
  border-radius: 4px;
}
.grid-container{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30px 30px 30px 30px 30px;
  padding-left: 15px;
  padding-right: 15px;
  }
.grid-container > div{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 0 0 5px #ccc;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  font-weight: lighter;
  border-radius: 22px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  background-color: white;
}
.grid-container > div:hover{
  background-color: white!important;
  color:black!important;
  border-color: #00ca9b;
  transition:0.3s;
}
.window{
  grid-template-columns: 70px 70px 70px 70px;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  padding-left: 15px;
  padding-right: 15px;
}
.window > div{
  margin: 0px auto;
  margin-top: -20px;
  cursor: pointer;
}
.container-element{
  grid-template-columns: 50% 50%;
  justify-content: flex-end;
  cursor: default;
}
.container-element > div{
  background-color: white;
  margin: none!important;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
}
.container-element > div:hover{
  border-color: white;
  cursor: default;
}